* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
}

.logo {
    border: 1px solid;
    min-width: 200px;
    min-height: 50px;
}

.nav {
    border: 1px solid;
    min-width: 200px;
    min-height: 50px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.footer {
    display: flex;
    flex-direction: column;
}

.contacts {
    border: 1px solid;
    min-width: 200px;
    min-height: 50px;
}

.copy {
    border: 1px solid;
    min-width: 200px;
    min-height: 20px;
}

.item {
    border: 1px solid;
    background-color: blue;
    width: 500px;
    height: 100px;
}

.cell {
    border: 1px solid;
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.body__flex {
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;

}

.body__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}