html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.links_menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.large_title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.basic_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
    text-align: justify;
}

.medium_title {
    color: coral;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.large_title, .medium_title {
    text-align: center;
}

.medium_title, .basic_text {
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
}
 
.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}

.product-item img {
    display: block;
    width: 100%;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
}

.product-item:hover .button {
    background: #fc5a5a;
}

.links_contacts {
    color: cadetblue;
    font-size: 18px;
    line-height: 24px;
}