@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.site {
  overflow: hidden;
  font-family: "Lato";
  font-style: normal;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.nav {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  font-family: "Lato", sans-serif;
  font-style: normal;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
  background: #222222;
  position: relative;
}
.nav__icon > path {
  fill: #e8e8e8;
}
.nav__left {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 41px;
  padding-top: 18px;
  padding-bottom: 19px;
  margin-right: 250px;
}
.nav__right {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 33px;
  padding-top: 26px;
  padding-bottom: 20px;
}

.burger_box {
  min-width: 32px;
  min-height: 32px;
}
.burger_box #burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
.burger_box #burger:checked ~ .drop-menu {
  right: 0;
}
.burger_box__drop {
  background: #ffffff;
  width: 232px;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
  top: 85px;
  right: -232px;
  transition: right 0.3s;
  z-index: 1;
  padding: 32px;
}
.burger_box__drop__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
  gap: 11px;
}
.burger_box__drop__menu__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.burger_box__drop__menu__title__red {
  margin-bottom: 1px;
  font-weight: 400;
  color: #f16d7f;
}
.burger_box__drop__menu__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 20px;
}
.burger_box__drop__menu__btn {
  text-decoration: none;
  background: #ffffff;
  border: none;
}
.burger_box__drop__menu__btn:hover {
  border: 1px dotted #f16d7f;
}

.basket {
  position: relative;
}
.basket__count::after {
  content: "5";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #f16d7f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.subheader__box {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
}
.subheader__box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.subheader__box__container__breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
.subheader__box__container__breadcrumb li {
  display: inline;
}
.subheader__box__container__breadcrumb li + li:before {
  padding: 8px;
  color: #636363;
  content: "/ ";
}
.subheader__box__container__breadcrumb li a {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}
.subheader__box__container__breadcrumb li a:hover {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: underline;
}
.subheader__box__container__breadcrumb li:last-child a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.content__picture {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.content__picture__box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.content__picture__box__btn {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
}
.content__picture__box__btn:hover {
  background: #f16d7f;
}
.content__picture__box__btn:hover svg path {
  fill: #ffffff;
}
.content__picture__box__btn__left {
  margin-right: -47px;
}
.content__picture__box__btn__left svg path {
  fill: #000000;
}
.content__picture__box__btn__right {
  margin-left: -47px;
}
.content__picture__box__btn__right svg path {
  fill: #f16d7f;
}
.content__picture__box__img {
  width: 1600px;
  height: 777px;
}
.content__picture__box__img img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}
.content__product__choise_menu__right {
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 28px;
  position: relative;
}
.content__product__choise_menu__right__details__summary svg path {
  fill: #6f6e6e;
}
.content__product__choise_menu__right__details [open] {
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.content__product__choise_menu__right__details__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.content__product__choise_menu__right__details__summary {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.content__product__choise_menu__right__details__summary:hover span {
  color: #f16d7f;
}
.content__product__choise_menu__right__details__trending_now_box {
  display: flex;
  flex-flow: column;
  gap: 9px;
}
.content__product__choise_menu__right__details__trending_now_box a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.content__product__choise_menu__right__details__box {
  position: absolute;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.content__product__choise_menu__right__details__size {
  display: flex;
  flex-flow: column;
  gap: 9px;
}
.content__product__btn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 23px;
  padding-right: 56px;
  border: 1px solid #f16d7f;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.content__product__btn span svg path {
  fill: #f16d7f;
}
.content__product__btn:hover {
  color: #ffffff;
  background: #f16d7f;
}
.content__product__btn:hover p svg path {
  fill: #ffffff;
}
.content__product__btn__box {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.footer__subscribe_main {
  background-image: url("../img/footer/photo_subscribe.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__subscribe_main__box {
  min-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 126px;
}
.footer__subscribe_main__box__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 40px;
}
.footer__subscribe_main__box__description__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
}
.footer__subscribe_main__box__description__text_italic {
  font-style: italic;
}
.footer__subscribe_main__box__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 32px;
}
.footer__subscribe_main__box__form__medium_title {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.footer__subscribe_main__box__form__big_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
}
.footer__subscribe_main__box__form__input_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.footer__subscribe_main__box__form__input_btn__submit {
  background: #e05c6e;
  height: 49px;
  width: 100px;
  border-radius: 0 24px 24px 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.footer__subscribe_main__box__form__input_btn__submit__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #ffffff;
}
.footer__subscribe_main__box__form__input_btn__submit:hover {
  border: 1px solid #e05c6e;
  background: #e5e5e5;
  color: #e05c6e;
}
.footer__subscribe_main__box__form__input_btn__submit:hover p {
  color: #e05c6e;
}
.footer__subscribe_main__box__form__input_btn__input {
  display: inline-block;
  background: #e1e1e1;
  width: 323px;
  height: 49px;
  border-radius: 24px 0 0 24px;
  border: none;
}
.footer__copy {
  background: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copy__box {
  min-width: 1140px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__copy__box__left__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.footer__copy__box__right {
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  gap: 7.29px;
  margin-top: 24px;
  margin-bottom: 23px;
}
.footer__copy__box__right__items {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  transition: all 0.3s ease;
}
.footer__copy__box__right__items svg path {
  fill: black;
}
.footer__copy__box__right__items:hover {
  background: #f16d7f;
}
.footer__copy__box__right__items:hover svg path {
  fill: #ffffff;
}/*# sourceMappingURL=productStyle.css.map */