@import "_variables_mixins.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.site {
    overflow: hidden;
    font-family: "Lato";
    font-style: normal;
}

.center {
    padding-left: calc(50% - $siteDesktopWidth / 2);
    padding-right: calc(50% - $siteDesktopWidth / 2);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
}

.nav {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    font-family: "Lato", sans-serif;
    font-style: normal;
    background: #e5e5e5;
    display: flex;
    justify-content: space-around;
    background: #222222;
    position: relative;

    &__icon > path {
        fill: #e8e8e8;
    }

    &__left {
        @include flexCenter();
        align-items: baseline;
        gap: 41px;
        padding-top: 18px;
        padding-bottom: 19px;
        margin-right: 250px;
    }

    &__right {
        @include flexCenter();
        align-items: baseline;
        gap: 33px;
        padding-top: 26px;
        padding-bottom: 20px;
    }
}

.burger_box {
    min-width: 32px;
    min-height: 32px;

    #burger {
        position: absolute;
        left: -999999px;
        visibility: hidden;
        &:checked ~ .drop-menu {
            right: 0;
        }
    }

    &__drop {
        background: #ffffff;
        width: $burgerMenuWidth;
        box-sizing: border-box;
        position: absolute;
        -webkit-box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        -moz-box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        box-shadow: 0px 21px 40px 10px rgba(143, 150, 156, 0.39);
        top: 85px;
        right: -$burgerMenuWidth;
        transition: right 0.3s;
        z-index: 1;
        padding: 32px;

        &__menu {
            list-style: none;
            @include flexCenter();
            flex-flow: column;
            align-items: flex-start;
            gap: 11px;
            &__title {
                margin-bottom: 12px;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #000000;

                &__red {
                    margin-bottom: 1px;
                    font-weight: 400;
                    color: $pinkColor;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                margin-left: 20px;
            }

            &__btn {
                text-decoration: none;
                background: #ffffff;
                border: none;
            }

            &__btn:hover {
                border: 1px dotted $pinkColor;
            }
        }
    }
}

.basket {
    position: relative;

    &__count::after {
        content: "5";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: $pinkColor;
        @include flexCenter();
        align-items: center;
        position: absolute;
        top: -10px;
        right: -10px;
    }
}

.footer {
    &__subscribe_main {
        background-image: url("../img/footer/photo_subscribe.jpg");
        background-size: cover;
        background-position: center;
        @include flexCenter();
        align-items: center;

        &__box {
            min-width: $siteDesktopWidth;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 86px;
            padding-bottom: 126px;

            &__description {
                @include flexCenterCenterColumn();
                gap: 40px;

                &__text {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #222224;
                    width: 360px;
                }

                &__text_italic {
                    font-style: italic;
                }
            }

            &__form {
                @include flexCenterCenterColumn();
                gap: 32px;

                &__medium_title {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 167.2%;
                    text-align: center;
                    color: #222224;
                }

                &__big_title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 167.2%;
                }

                &__input_btn {
                    @include flexCenter();
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #222224;
                    opacity: 0.67;

                    &__submit {
                        background: #e05c6e;
                        height: 49px;
                        width: 100px;
                        border-radius: 0 24px 24px 0;
                        border: none;
                        @include flexCenter();
                        align-items: center;
                        transition: all 0.3s ease;

                        &__text {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            display: block;
                            color: #ffffff;
                        }

                        &:hover {
                            border: 1px solid #e05c6e;
                            background: #e5e5e5;
                            color: #e05c6e;
                        }

                        &:hover p {
                            color: #e05c6e;
                        }
                    }

                    &__input {
                        display: inline-block;
                        background: #e1e1e1;
                        width: 323px;
                        height: 49px;
                        border-radius: 24px 0 0 24px;
                        border: none;
                    }
                }
            }
        }
    }

    &__copy {
        background: #222224;
        @include flexCenter();
        align-items: center;

        &__box {
            min-width: $siteDesktopWidth;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;

            &__left {
                &__text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #fbfbfb;
                }
            }

            &__right {
                @include flexCenter();
                flex-flow: row;
                align-items: center;
                gap: 7.29px;
                margin-top: 24px;
                margin-bottom: 23px;

                &__items {
                    width: 32px;
                    height: 32px;
                    @include flexCenter();
                    align-items: center;
                    background: #ffffff;
                    transition: all 0.3s ease;

                    & svg path {
                        fill: black;
                    }

                    &:hover {
                        background: $pinkColor;
                    }

                    &:hover svg path {
                        fill: #ffffff;
                    }
                }
            }
        }
    }
}
