@import "_variables";
@import "_mixins";
@import "_extends";

.title {
    display: block;
    font-family: sans-serif;
    color: red;
    font-size: 2em;
    font-weight: bold;
    background: blue; //djhskjfhskdjhfkj
}

.container {
    width: $containerWith;
    .text {
        color: $textColor;
    }
}

nav {
    .nav {
        display: flex;
        gap: $gap;
        &__link {
            text-decoration: none;
            @extend %fontProperties;
        }
    }
}

.content {
    @include contentPosition();
    gap: $gap;
    &__item {
        height: 200px;
        border: $borderBlack;
        width: $containerWith / 4;
    }
}
