* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.top {
    padding-bottom: 99px;
}

.basic {
    background: #020A18;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
}

.header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 160px;
    gap: 50px;
}

.top__picture {
    width: 414px;
}

.top__info {
    max-width: 604px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.mid__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.huge__title {
    margin-top: 10px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.basic__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    width: 558px;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 30px;
    gap: 10px;
    background: #3A68B8;
    border-radius: 5px;
    padding: 30, 15;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logos {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 60px;
    margin-top: 100px;
}

.header__nav__list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__nav__item {
    list-style-type: none;
}


/* .about {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.about__description {}


.card {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 30px;
}

.card__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.card__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}

.card__img {
    margin-left: auto;
    margin-right: auto;
}

.about__cards {
    padding-top: 264px;
    padding-bottom: 243px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 30px;

}

.card-4 {
    grid-row: span 2;
    grid-column: span 2;
    gap: 60px;
} */

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
}