* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    font-family: 'Abhaya Libre Medium';
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;

}

.header__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__links {
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.site__logo {
    width: 128px;
    height: 40px;
}

.main__link {
    font-family: 'Glory';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #F25822;
}

.black_link {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.content {
    margin-top: 44px;
    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content__main {
    width: 481px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__image {
    width: 610.73px;
    height: 374px;
}

.huge__header {
    font-family: 'Abhaya Libre Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    color: #000000;
}

.basic__text {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #888888;
}

.body__buttons {
    width: 290;
    display: flex;
    justify-content: flex-start;
    gap: 72px;
    align-items: center;
}

.start__button {
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 44px;
    padding-bottom: 17px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.watch__link {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}