@media (max-width: 1240px) and (min-width: 768px) {
    .nav {
        padding-left: calc(50% - $site768Laptop / 2);
        padding-right: calc(50% - $site768Laptop / 2);
    }

    .center {
        padding-left: calc(50% - $site768Laptop / 2);
        padding-right: calc(50% - $site768Laptop / 2);
    }

    .subheader {
        &__box {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    //eee

    .catalog {
        &__filter_select {
            padding-top: 24px;
            padding-bottom: 40px;
        }

        &__shop {
            gap: 40px;

            &__cards {
                display: grid;
                grid-template: repeat(5, 581px) / repeat(2, 360px);
                gap: 16px 16px;
                place-content: center center;
                place-items: center center;
            }
        }
    }

    //eee

    .questions {
        &__end_links {
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            margin-top: 48px;
            margin-bottom: 64px;
            gap: 48px;
        }
    }

    .footer {
        .subscribe-main {
            &__box {
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                padding-top: 53px;
                padding-bottom: 140px;
                gap: 48px;
            }
        }

        .copy {
            &__box {
                min-width: $site768Laptop;
            }
        }
    }
}
